@charset "utf-8";
/* CSS Document */
#gallery_totop
{
	display: block;
  	position: fixed;
  	bottom: 20px;
  	right: 30px;
  	z-index: 99;
  	border: none;
  	outline: none;
  	background-color:navajowhite;
	padding:10px;
  	border-radius: 4px;
}
#gallery_totop:hover
{
	background-color:burlywood;
